<div class="report-container">
    <h2>Gerar Relatório</h2>
    <div class="report-box">
      <h3>Gerar relatório personalizado</h3>
      <hr class="report-underline" />
      <form>
        <div class="report-form-row">
          <label>1º Selecione o período</label>
          <select>
            <option disabled selected>Escolha a data</option>
            <option>Janeiro</option>
            <option>Fevereiro</option>
            <option>Março</option>
          </select>
        </div>
        <div class="report-form-row">
          <label>2º Selecione os parceiros</label>
          <select>
            <option disabled selected>Selecione todos os parceiros</option>
            <option>Todos</option>
            <option>Santander</option>
            <option>AWS</option>
            <option>ABC Aprender</option>
          </select>
        </div>
        <div class="report-form-row">
          <label>3º Selecione o status da doação</label>
          <select>
            <option disabled selected>Selecione o status</option>
            <option>Recebida</option>
            <option>Pendente</option>
            <option>Cancelada</option>
          </select>
        </div>
        <button type="submit" class="report-btn">Gerar Relatório</button>
      </form>
    </div>
  </div>