<form (ngSubmit)="gerarRelatorio()">
  <!-- Tipo de relatório -->
  <select id="tipo-relatorio" name="tipoRelatorio" [(ngModel)]="tipoRelatorio" required>
    <option disabled selected>Selecione um relatório</option>
    <option value="por-parceiro">Total de doações por parceiro</option>
    <option value="comparativo-parceiro">Comparativo: Doações com e sem parceiro</option>
    <option value="por-mes">Total arrecadado por mês</option>
  </select>

  <!-- Período -->
  <input type="date" id="data-inicio" name="dataInicio" [(ngModel)]="dataInicio" required />
  <input type="date" id="data-fim" name="dataFim" [(ngModel)]="dataFim" required />

  <!-- Parceiro -->
  <select id="parceiro" name="parceiro" [(ngModel)]="parceiro" required>
    <option disabled selected>Selecione todos os parceiros</option>
    <option value="todos">Todos</option>
    <option value="Parceiro Tech">Parceiro Tech</option>
    <option value="Parceiro Educa">Parceiro Educa</option>
    <option value="Parceiro Saúde">Parceiro Saúde</option>
  </select>

  <button type="submit" class="report-btn">Gerar Relatório</button>
</form>
