<div class="team-container">
    <h2>Time</h2>
    <div class="team-table-wrapper">
      <table class="team-table">
        <thead>
          <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>PERMISSÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ALICE MOREIRA</td>
            <td>ALICE.MOREIRAEMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>BRUNO FERNANDES</td>
            <td>BRUNO.FERNANDES&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>CAMILA OLIVEIRA</td>
            <td>CAMILA.OLIVEIRA&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>DANIEL SOUZA</td>
            <td>DANIEL.SOUZA&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>EDUARDO LIMA</td>
            <td>EDUARDO.LIMA&#64;EMAIL.COM</td>
            <td>LEITURA, EXECUÇÃO</td>
          </tr>
          <tr>
            <td>FERNANDA RIBEIRO</td>
            <td>FERNANDA.RIBEIRO&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>GABRIEL SANTOS</td>
            <td>GABRIEL.SANTOS&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>HELENA COSTA</td>
            <td>HELENA.COSTA&#64;EMAIL.COM</td>
            <td>LEITURA, EXECUÇÃO</td>
          </tr>
          <tr>
            <td>JOÃO PEREIRA</td>
            <td>JOAO.PEREIRA&#64;EMAIL.COM</td>
            <td>LEITURA</td>
          </tr>
          <tr>
            <td>LARISSA MARTINS</td>
            <td>LARISSA.MARTINS&#64;EMAIL.COM</td>
            <td>LEITURA, EXECUÇÃO, ESCRITA</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>