<div class="team-container">
  <h2>Time</h2>

  <form class="formulario-time" (ngSubmit)="adicionarFuncionario()">
    <input type="text" placeholder="Nome" [(ngModel)]="novoFuncionario.nome" name="nome" required>
    <input type="email" placeholder="Email" [(ngModel)]="novoFuncionario.email" name="email" required>
    
    <select [(ngModel)]="novoFuncionario.role" name="permissao" required>
  <option value="" disabled>Selecione a permissão</option>
  <option *ngFor="let r of rolesDisponiveis" [value]="r.value">{{ r.label }}</option>
</select>
    
    <button type="submit">{{ indiceEditando !== null ? 'Salvar' : 'Adicionar' }}</button>
  </form>
  

  <div class="team-table-wrapper">
    <table class="team-table">
      <thead>
        <tr>
          <th>NOME</th>
          <th>E-MAIL</th>
          <th>PERMISSÃO</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios; let i = index">
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.email }}</td>
          <td>{{ funcionario.role }}</td>
<td>
  <button *ngIf="userRole === 'MASTER' || userRole === 'ADMIN'" (click)="editarFuncionario(i)">Editar</button>
  <button *ngIf="userRole === 'MASTER'" class="delete-btn" (click)="removerFuncionario(i)">Excluir</button>
</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
