<div class="team-container">
  <h2>Time</h2>

  <form class="formulario-time" (ngSubmit)="adicionarFuncionario()">
    <input type="text" placeholder="Nome" [(ngModel)]="novoFuncionario.nome" name="nome" required>
    <input type="email" placeholder="Email" [(ngModel)]="novoFuncionario.email" name="email" required>
    
    <select [(ngModel)]="novoFuncionario.permissao" name="permissao" required>
      <option value="" disabled>Selecione a permissão</option>
      <option value="LEITURA, EXECUÇÃO, ESCRITA">Leitura, Execução, Escrita</option>
      <option value="LEITURA, EXECUÇÃO">Leitura, Execução</option>
      <option value="LEITURA">Leitura</option>
    </select>
    
    <button type="submit">{{ indiceEditando !== null ? 'Salvar' : 'Adicionar' }}</button>
  </form>
  

  <div class="team-table-wrapper">
    <table class="team-table">
      <thead>
        <tr>
          <th>NOME</th>
          <th>E-MAIL</th>
          <th>PERMISSÃO</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios; let i = index">
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.email }}</td>
          <td>{{ funcionario.permissao }}</td>
          <td>
            <button (click)="editarFuncionario(i)">Editar</button>
            <button class="delete-btn" (click)="removerFuncionario(i)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
